 /* currently working */

* {
    /* Removing css from browser */
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: #bdbdbd;
}
#wrapper {
    width: 98%;
    background-color: #bdbdbd;
    margin-left: 2%;
    margin-top: 2%;
    min-height: 1080px;
}

/*//////////////---Header Below---///////////////////////////////////////////////////////////////////////////////*/
#banner {width:100%;
    height:100%;
    z-index: -1;
    margin-bottom:-10px;
    padding: 0;

}
header {background-color: #d8e1e6;
    color: #3a2d97;
    border-radius: 1em 1em 1em 1em;
    border: 5px solid #4040a1;
    box-shadow: .3em .6em .2em #618685;
    min-width: 300px;
    overflow: hidden;
    z-index: 1;
}
#banner-container {position: relative;  
    overflow: hidden;  width:98%;
    min-height: 350px;}
#overlay-div {background-color: #3a2d97;
    color: #fefbd8;
    border-radius: 1em 1em 1em 1em;
    border: 5px solid #4040a1;
    box-shadow: .3em .6em .2em #618685;
    min-width: 300px;
    width:80%;
    height:44%;
    margin-left: 10%;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    top:50%;
    transform: translateY(-50%);
}
#aboutImg {
    border-radius: 1em 1em 1em 1em;
    border: 5px solid #4040a1;
    box-shadow: .3em .6em .2em #618685;
    width:300px;
    height:300px;
    float:left;
}
#divBox {
    border-radius: 1em 1em 1em 1em;
    border: 5px solid white;
    box-shadow: .3em .6em .2em #618685;
    min-height: 150px;
    margin-top: 75px;
    margin-right:25px;
}
h1 {font-family: 'Times New Roman', Times, serif;
    color: white;
    position: relative;
    font-size: 4em;
    height: 2em;
    padding-top: 25px;
    min-width: 300px;
    top:15%;
    display:inline-block;
    font-family: 'Orbitron', 'Times New Roman';
}
#profileImage {float: right; 
    margin-right:50px;
    width: 160px; 
    height: 160px; 
    margin-top:19px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 30%;
    border-style: outset;
    background-color: white;
}
/*/////////////////////////////////////////----Header---/////////////////////////////////////////////////////*/
#aboutMeImg {
    float: inline-block; 
    margin-right:50px;
    width: 200px; 
    height: 200px; 
    margin-top:7px;
    padding: 5px;
    border: 5px solid black;
    border-radius: 30%;
    border-style: outset;
    background-color: white;
}
/*////////////////////---End---/////////////////////////////*/


/*------------------Navigation Below---------------*/
nav {
    position:absolute;
    z-index: 2;
    margin-top:-5%;
    width:94%;
    height: 45px;
    margin-left:1%;
    text-align: center;
    background-color:lightblue;
    border: 2px black solid;
    border-radius: 10px;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    line-height: 40px;

}
nav li {
    display: inline;
}
nav a {
    text-decoration: none;
    padding: 10px;
}
/*//////////////////////////////////////////////*/


/*----------------Main Content-------------------*/
p {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', sans-serif;
}
article {
    background-color: #adadc2;
    color: black;
    border: solid black 2px;
    border-radius: 0 25px 0 25px;
    margin-left:20px;
    margin-right:40%;
    padding: 2%;

}
/*//////////////////////////////////////////////*/
table {width: 98%;}
tr {
    height: 60px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #D6EEEE;
}
tr:hover {background-color: #D6EEEE;}

#loginForm {
    width: 100%;
    background-color: #bdbdbd;
    padding: 20px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[id=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
#divBoxAdmin {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 40%;
    margin-left: 30%;
  }
  .button {
    background-color: #04AA6D; /* Green */
    border: 7px solid silver;
    border-style: outset;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .delButton {
    background-color: silver; /* Green */
    border: 3px solid maroon;
    border-style: outset;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .delButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: red;
  }
  .editButton {
    background-color: skyblue; /* Green */
    border: 3px solid slateblue;
    border-style: outset;
    color: white;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .editButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: blueviolet;
  }

